<!DOCTYPE html>
<html ng-app="MyApp">

<head>
  <meta charset="utf-8">
  <title>Add Yo Stuff</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <link rel="stylesheet" href="../css/main.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
</head>

<body ng-controller="MainCtrl as main">
  <!-- This is the button to show adding a blog form -->
  <button class="btn btn-lrg btn-primary addBlogButton" ng-click="main.showThatBlog()">Add a blog</button>

  <!-- This is to call the form to edit the blog -->
  <form class="editForm" ng-submit="main.getBlog(main.blogId)">
    <input placeholder="Ref #" ng-model="main.blogId">
    <button class="btn btn-md btn-primary" ng-click="main.showThatEdit()">Edit</button>
  </form>

  <!-- This is to remove a blog -->
  <form class="removeBlogs" ng-submit="main.removeBlogs(main.removeTheBlog)">
    <input type="text" placeholder="Ref #" ng-model="main.removeTheBlog">
    <button type="submit" class="btn btn-md btn-danger">Remove</button>
  </form>

  <!-- <div ng-hide="main.showAddBlog" class="addingBlogs"> -->
  <form class="addBlogForm" ng-hide="main.showAddBlog" ng-submit="main.addBlog()">
    <h2>Title:</h2>
    <input class="form-control" placeholder="Title" ng-model="main.newBlog.name" type="text">
    <h2>Image:</h2>
    <input class="form-control" placeholder="Image" ng-model="main.newBlog.image" type="text">
    <h2>Description:</h2>
    <input class="form-control" placeholder="Description" ng-model="main.newBlog.description" type="text">
    <h2>Body:</h2>
    <textarea name="Name" ng-model="main.newBlog.textBody" rows="20" cols="150"></textarea>
    <h2>Date:</h2>
    <input class="form-control" placeholder="Date" ng-model="main.newBlog.date" type="text">
    <h2>Category:</h2>
    <select class="form-control" ng-model="main.newBlog.category" ng-options="x for x in main.category">
      <option value="" disable selected>-CHOOSE YOUR CATEGORY FOOL-</option>
    </select>
    <button class="btn btn-md btn-primary" style="margin: 10%" type="submit" name="button">Submit</button>
    <button class="btn btn-md btn-danger" ng-click="main.showThatBlog()">Close</button>
  </form>
  <!-- </div> -->

  <!-- This is the form to edit a blog -->
  <form class="addBlogForm" ng-hide="main.showEdit" ng-submit="main.editBlog()">
    <h2>Title:</h2>
    <input class="form-control" placeholder="Title" ng-model="main.singleBlog.name" type="text">
    <h2>Reference</h2>
    <input class="form-control" placeholder="Reference Number" ng-model="main.singleBlog._id" type="text">
    <h2>Image:</h2>
    <input class="form-control" placeholder="Image" ng-model="main.singleBlog.image" type="text">
    <h2>Description:</h2>
    <input class="form-control" placeholder="Description" ng-model="main.singleBlog.description" type="text">
    <h2>Body:</h2>
    <textarea class="form-control" ng-model="main.singleBlog.textBody" rows="20" cols="150"></textarea>
    <h2>Date:</h2>
    <input class="form-control" placeholder="Date" ng-model="main.singleBlog.date" type="text">
    <h2>Category:</h2>
    <select class="form-control" ng-model="main.newBlog.category" ng-options="x for x in main.category">
      <option value="" disable selected>-CHOOSE YOUR CATEGORY FOOL-</option>
    </select>
    <button style="margin: 10%" type="submit" name="button" class="btn btn-mg btn-primary" ng-click="main.showThatEdit()">Submit</button>
    <button style="margin: 10%" type="submit" name="button" class="btn btn-mg btn-danger" ng-click="main.showThatEdit()">Close</button>
  </form>

  <script type="text/javascript" src="../js/dirPagination.js"></script>
  <script type="text/javascript" src="../js/module.js"></script>
  <script type="text/javascript" src="../js/myScripts.js"></script>
  <script type="text/javascript" src="../js/lisaFactory.js"></script>
</body>

</html>